* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 15vw;
}

html {
    display: flex;
    justify-content: space-around;
}


body {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input {
    padding: 3px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #dfe1e5;
}

input:focus-within {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: transparent;
}

button {
    justify-content: center;
    background-color: orange;
    color: black;
    max-width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    font-size: medium;

    /* Adiciona uma transição suave para as mudanças de cor */
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: rgb(232, 73, 0);
    color: white;
    cursor: pointer;
}


form {
    border: 1px solid #dfe1e5;
    border-radius: 15px;
    padding: 15px;
}


form:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: transparent;
}